<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hello, World!</title>
  </head>
  <body class="bg-gray-900 text-white">
    

    <!-- Header Section -->
      <%-include('../partials/admin-header') %>

    <div class="flex">
      <!-- Sidebar -->
      <%-include('../partials/admin-sidebar') %>

      <!-- Main Content -->
      <div class="w-4/5 p-6">
        <div class="flex justify-between items-center mb-6">
          <button class="bg-yellow-500 text-black px-4 py-2 rounded hover:bg-yellow-600" onclick="addProduct()">
            Add New Product
          </button>
          
        </div>

        <div class="bg-gray-800 p-4 rounded">
          <table class="w-full text-left text-gray-300">
            <thead>
              <tr>
                <th class="border-b border-gray-700 py-2">Product</th>
                <th class="border-b border-gray-700 py-2">Price</th>
                <th class="border-b border-gray-700 py-2">Stock</th>
                <th class="border-b border-gray-700 py-2">Category</th>
                <th class="border-b border-gray-700 py-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product => { %>
              <tr>
                <td class="py-2"><%= product.productName %></td>
                <td class="py-2"><%= product.price %></td>
                <td class="py-2"><%= product.stock %></td>
                <td class="py-2"><%= product.category.categoryName %></td>
                <td class="py-2 space-x-2">
                  <button
                    class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600"
                    onclick="edit('<%= product._id %>')"
                  >
                    Edit
                  </button>
                  <button
                    class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
                    onclick="remove('<%= product._id %>')"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>

          
        </div>
      </div>
    </div>

    <!-- Footer Section -->
     <%-include('../partials/admin-footer') %>


  </body>
</html>
<script>
    function edit(productId){
   window.location.href=`http://localhost:8000/admin/products/edit/${productId}`
    }
    
    function addProduct(){
      window.location.href = 'http://localhost:8000/admin/products/add';
  }
  </script>
 