<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hello, world!</title>
  </head>
  <body class="bg-[#eaf8ff]">
    <!-- Header Section -->
    <%- include('../partials/user-header') %>
    <!-- Hero Section -->
    <section class=" text-center bg-[#f0f8ff]">
      <div class="w-full m-0">
        <img src="images/banner.png" alt="Hero Banner" class="w-full h-auto">
      </div>
    </section>
    

    <!-- Top Selling Products Section -->
    <section class="py-5">
      <div class="container mx-auto max-w-screen-lg">
        <h2 class="font-bold text-center my-8">Top Sale This Week</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
          <% topSoldProducts.forEach(function(product) { %>
            <div class="card p-4 border rounded shadow-md">
              <div class="w-full h-100">
                <img src="<%= product.imageUrl[0] %>" class="w-full h-full object-cover rounded" alt="Product Image">
              </div>
              <div class="text-center mt-3">
                <h6 class="text-lg font-semibold"><%= product.productName %></h6>
                <p class="text-gray-600"><%= product.price %></p>
                <a href="/product/<%= product._id %>" class="btn bg-blue-500 text-white rounded px-4 py-2 mt-2 inline-block">View Product</a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </section>


    <!-- Banner section -->
    <section class=" text-center bg-[#f0f8ff]">
      <div class="w-full m-0">
        <img src="images/banner.png" alt="Hero Banner" class="w-full h-auto">
      </div>
    </section>
    

    <!-- New Arrivals Section -->
    <section class="py-5 bg-gray-100">
      <div class="container mx-auto max-w-screen-lg">
        <h2 class="font-bold text-center my-8">New Arrivals</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
          <% newProducts.forEach(function(product) { %>
            <div class="card p-4 border rounded shadow-md">
              <div class="w-full h-100">
                <img src="<%= product.imageUrl[0] %>" class="w-full h-full object-cover rounded" alt="Product Image">
              </div>
              <div class="text-center mt-3">
                <h6 class="text-lg font-semibold"><%= product.productName %></h6>
                <p class="text-gray-600"><%= product.price %></p>
                <a href="/product/<%= product._id %>" class="btn bg-blue-500 text-white rounded px-4 py-2 mt-2 inline-block">View Product</a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </section>
  
    <!-- Footer Section -->
    <%- include('../partials/user-footer') %>
  </body>
</html>
